<?xml version="1.0"?>
<ruleset name="SMS Aero Elementor">
	<description>WordPress Coding Standards for the SMS Aero Elementor plugin.</description>
	<file>sms-aero-elementor.php</file>
	<file>includes</file>
	<file>tests</file>
	<file>uninstall.php</file>

	<exclude-pattern>vendor/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP">
		<properties>
			<property name="testVersion" value="7.4-"/>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.0"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
